.mc-item-slot {
    --slot-size: var(--def-slot-size);
    --slot-color: var(--def-slot-color);
    position: relative;
    width: var(--slot-size);
    height: var(--slot-size);
    background-color: var(--slot-color);
    display: grid;
    place-items: center;
    flex-shrink: 0;
    box-shadow: 
        inset calc(var(--slot-size) * 0.05) calc(var(--slot-size) * 0.05) 0 rgba(0, 0, 0, 0.7), 
        inset calc(var(--slot-size) * -0.05) calc(var(--slot-size) * -0.05) 0 rgba(255, 255, 255, 0.8);
}

.mc-item-slot:hover::before {
    width: 90%;
    height: 90%;
    content: "";
    display: block;
    background-color: rgba(255, 255, 255, 0.454);
    position: absolute;
    z-index: 1;
}

.mc-item-slot > img {
    --slot-size: var(--def-slot-size);
    width: calc(var(--slot-size) * 0.9);
    image-rendering: pixelated;
    user-select: none;
}

/* LABEL */

.mc-item-slot[data-amount]::after {
    content: attr(data-amount);
    position: absolute;
    color: white;
    font-family: "minecraft";
    font-size: calc(var(--slot-size) * 0.5);
    bottom: 0;
    right: 0;
    line-height: calc(var(--slot-size) * 0.4);
    text-shadow: calc(var(--slot-size) * 0.05) calc(var(--slot-size) * 0.05) 0 rgba(0, 0, 0, 0.7);
}


.mc-item-slot.model .block-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transform: rotateX(-30deg) rotateY(45deg);
    transform-style: preserve-3d;
    perspective: 3000px;
    position: relative;
}

@keyframes spin {
    0% {
        transform: rotateX(-30deg) rotateY(135deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(495deg);
    }
}

.mc-item-slot.model[debug=true] .block-wrapper {
    animation: spin infinite 4s linear;
}

.mc-item-slot.model img {
    position: absolute;
    width: calc(var(--slot-size) * 0.54);
    user-select: none;
}

.mc-item-slot.model .right-side {
    filter: brightness(50%);
}
.mc-item-slot.model .left-side {
    filter: brightness(70%);
}

