#tooltip {
    background-color: rgba(10, 2, 14, 0.941);
    pointer-events: none;
    position: fixed;
    top: -50px;
    left: 30px;
    z-index: 100;
    font-family: "minecraft";
    box-sizing: border-box;
    padding: 5px 10px;
    box-shadow: 0 0 0 3px rgb(11, 0, 75);
}

#tooltip > div {
    color: white;
    font-size: 30px;
}

#tooltip > p {
    color: #aaa;
    font-size: 30px;
    margin: 0;
    white-space: pre;
}